# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


public/json
public/robots
/package-lock.json

# Ignore all image files inside the public/images directory
public/images/*.png
public/images/*.jpg
public/images/*.jpeg
public/images/*.gif
public/images/*.svg
public/images/*.webp

# Ensure imageMappings.js is not ignored
!public/images/imageMappings.js

# Allow the directory itself to be pushed
!public/images/
public/img/*
